body {
    margin: 0;
}

.explanation {
    text-align: center;
    margin-bottom: 10px;
}

.explanation p {
    font-size: 16px;
    width: 80%;
    margin-left: 10%;
    color: #007bff;
    margin-bottom: 5px;
}

button {
    width: calc(50% - 20px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.loader {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

/* Updated styling for icons */
.icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.icon {
    font-size: 36px;
    /* Increased icon size */
    color: #007bff;
    /* Blue color */
    margin: 0 10px;
    /* Adjusted margin */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.content {
    width: 80%;
    max-width: 400px;
    text-align: center;
}

video {
    max-width: 100%;
    border-radius: 50px;
    height: 225px;
    margin-bottom: 10px;
}

#errorMessage {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffdddd;
    color: #d8000c;
    border: 1px solid #d8000c;
    display: none;
    /* Hidden by default */
}

#errorMessage.visible {
    display: block;
    /* Show when there's an error */
}

#succesMessage {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #eef5cf;
    color: #dfc905;
    border: 1px solid #8dd40a;
    display: none;
    /* Hidden by default */
}

#succesMessage.visible {
    display: block;
    /* Show when there's an error */
}